/* Desktop */



* {
    margin: 0;
    background-color: #0B132B;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    overflow-x: hidden;
}


/* HEADER */

header {
    width: 100%;
    display: flex;
    padding: 30px;
    text-align: center;
    align-items: center;
    width: calc(100% - 30px);
    top: 0;
    z-index: 1000;
    background-color: #1C2541;
}

.mobile-only {
    display: none;
}

#open{
    width: 60px; 
    height: 60px;
    padding-left: 48.4%;
    background-color: #1C2541;
}

#open svg{
    width: 60px; 
    height: 60px;
    fill: #5BC0BE;
    background-color: #1C2541;
}

header ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    padding-right: 40px;
    text-align: center;
    background-color: #1C2541;
}

header li {
    display: inline-block;
    margin-right: 50px;
}

header a {
    text-decoration: none;
    background-color: #1C2541;
}

a:hover{
    color: #6FFFE9;
}

main{
    margin: auto;
    width: 80%;
}

/* INFO ABOUT ME */


#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: calc(100vh - 0px);
    width: 70%;
}

#name{
    font-size: 4ch;
}

#about-me {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 1000px; 
    position: relative;
    overflow: hidden; 
}

#border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #5BC0BE; 
    width: 0; 
    animation: borderGrow 6s ease forwards; 
}

@keyframes borderGrow {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}

/* PROJECTS */

#projects{
    height: calc(70vh - 0px)    
}

.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-items: center;
    height: 500px;
    width: 300px;
    border: solid 1px #5BC0BE;
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;   
    align-content: center;
    justify-content: space-evenly;
}

.card:hover {
    border: solid 2.5px #6FFFE9;
}

.card img{
    height: 200px;
    width: 200px;
}

.card h3 {
    padding-top: 20px;
    width: 280px;
    border-top: solid 1px #5BC0BE;
    padding-left: 20px;
}

.card p{
    width: 280px;
    height: max-content;
    padding-left: 20px;
}

/* EDUCATION */

#education{
    margin-top: 50px;
   
}

/* SKILLS */

#skills {
    margin: auto;
    height: calc(50vh)
}

#skills ul{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

#skills li{
    text-align: center;
}

#skills h2{
    margin: 150px 0 50px;
}

#skills svg{
    width: 80px; 
    height: 80px;
    fill: #5BC0BE;
}


#skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#skills span{
    margin-top: 10px;
}

#skills li:hover svg {
    fill: #6FFFE9;
}

/* CONTACTS */

#contact {
    height: calc(50vh);
}

#contact h2{
    margin: 50px 0;
}

#contact ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#contact svg{
    width: 30px;
    height: 30px;
    fill: #5BC0BE;
}

#contact .visit {
    color: #FF6B6B;
}


#contact li:hover{
    border: solid 2.5px #6FFFE9;
}

#contact li{
    width: 300px;
    flex: 0 1 calc(40% - 20px); 
    border: solid 1px #5BC0BE;
    border-radius: 16px;
    margin-top: 30px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box; 
    cursor: pointer;
}

#contact a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#contact p{
    margin-left: auto;
    padding-right: 20px;
}

/* SHOW NOTIFICATION ABOUT COPY */

#fixedNotification{
    display: none; 
    position: fixed; 
    width: 300px; 
    left: 50%;
    transform: translateX(-50%);
    top:30px;
    right: 0; 
    background-color: #4CAF50; 
    border-radius: 15px;
    color: white; 
    text-align: center; 
    padding: 10px; 
    font-size: 16px; 
    z-index: 1000;
}

/* FOOTER */

footer{
    margin-top: 90px;
    height: 100px;
    text-align: center;
    height: auto;
}

footer svg{
    margin: 20px;
    width: 60px; 
    height: 60px;
    fill: #5BC0BE;
}


/* ADAPTIVE FOR TABLET */


@media (max-width: 1550px){
    *{
        margin: 0;
    }

    main{
        max-width: 1280px;
        width: 80%;
    }
    header{
        display: flex;
        padding: 30px;
        text-align: center;
        align-items: center;
        width:(100%);
        top: 0;
        z-index: 1000;
        background-color: #1C2541;
    }

    /* PROJECTS FOR TABLET */

    #projects{
        height: calc(100vh)    
    }
    
    .card-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .card {
        justify-items: center;
        height: 400px;
        width: 400px;
        border: solid 1px #5BC0BE;
        border-radius: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;   
        align-content: center;
        justify-content: space-evenly;
        margin: 20px;
    }
    
    .card::before {
        border: solid 2.5px #6FFFE9;
    }
    
    .card img{
        height: 200px;
        width: 200px;
    }

    #contact ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    #contact li{
        width: 400px;
    }
    
    footer{
        margin-top: 100px;
        height: 100px;
        text-align: center;
    }
    

}

/* ADAPTIVE FOR  SMALLER SCREEN*/

@media (max-width: 1150px){
    *{
        margin: 0;
    }

    /* HEADER */

    header{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #open{
        width: 60px; 
        height: 60px;
        display: flex;
        padding: 10px;
    }

    /* MAIN CONTENT */

    main{
        max-width: 1150px;
        
    }
    
    #about-me{
        max-width: 100%;
        position: relative;
        overflow: hidden; 
    }


    /* PROJECTS */

        #projects{
            height: calc(100vh - 50px)    
        }
        
        .card-container{
            margin-top: 50px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .card {
            height: 400px;
            width: 300px;
        }
        
        .card::before {
            border: solid 2.5px #6FFFE9;
        }
        
        .card img{
            height: 160px;
            width: 160px;
        }

        .card h3 {
            padding-top: 20px;
            width: 280px;
            border-top: solid 1px #5BC0BE;
            padding-left: 20px;
        }

        #skills ul{
            display: flex;
            flex-wrap: wrap;
        }

        #skills {
            margin: auto;
            height: calc(50vh - 100px);
        }

        #skills ul{
            justify-content: space-evenly;
        }


    footer svg{
        margin: 20px;
        width: 60px; 
        height: 60px;
        fill: #5BC0BE;
    }    
        

}


/* ADAPTIVE FOR  SMALLER x2 SCREEN*/

@media (max-width: 890px){
    *{
        margin: 0;
    }

    /* HEADER */

    header{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

        /* PROJECTS */

        #projects{
            height: calc(60vh - 50px)    
        }
        
        .card-container{
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .card {
            display: flex;
            justify-items: center;
            height: 200px;
            width: 200px;
            cursor: pointer;
        }
        
        .card::before {
            border: solid 2.5px #6FFFE9;
        }
        
        .card img{
            height: 90px;
            width: 90px;
        }

        .card h3 {
            padding-top: 20px;
            width: 180px;
            border-top: solid 1px #5BC0BE;
            padding-left: 20px;
            font-size: small;
            width: 180px;
        }
        
        .card p {
            font-size: small;
            width: 180px;
        }
    
    footer{
        margin-top: 250px;
    }

}

@media (max-width: 700px){
    header{
        width: 100%;
    }
}


@media (max-width: 600px){

    main{
        max-width: 420;
    }

    .mobile-only{
        background-color: #1C2541;
        display: block;
    }

    #nav-list {
        max-height: 0;
        opacity: 0; 
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #1C2541;
        padding: 20px;
        border-radius: 10px;
        z-index: 1000;
        overflow: hidden; 
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; 
        display: flex;
        align-items: center;
        border:solid 1px #5BC0BE;
    }
    
    #nav-list li {
        margin: 10px 0;
    }
    
    #nav-list.open {
        max-height: 500px; 
        opacity: 1;
    }
    
    #menu-button {
        background-color: #5BC0BE;
        border: none;
        color: white;
        padding: 10px 15px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    main {
        width: 90%; 
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul{
        margin:0;
    }

    #projects{
        height: 120ch;
        width: 90%;
    }

    #skills{
        margin-top: 10px;
        width: 90%;
        height: auto;
    }

    #contact{
        width: 90%;
    }
    #contact li{
        width: 90%;
    }


    footer {
        margin-top: 120%;
        width: 90%;
        font-size: x-small;
    }

}

@media (max-width: 428px) {
    #contact ul{
        font-size: smaller;
    }
}



@media (max-width: 375px) {

    main {
        width: 370px; 
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    header ul{
        margin:0;
    }

    #projects{
        height: 120ch;
        width: 340px;
    }

    #skills{
        margin-top: 10px;
        width: 340px;
    }

    #contact{
        width: 340px;
    }
    #contact li{
        width: 330px;
    }

    #contact ul{
        margin-top: -50px;
    }

    footer {
        width: 90%;
        font-size: x-small;
    }
}

@media (min-width: 200px) {
    header{
        width: 100%;
    }
}

